*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
	font-family: "Gotham", Helvetica, Arial, sans-serif;
  margin: auto;
  box-sizing: border-box;
	overflow-x:hidden;
}

#container {
  width: 1060px;
  height: inherit;
  background-color: #456;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  min-width: 600px;
}

#nav {
  margin: auto;
  float: right;
  margin-top: 0px;
  height: 8rem;
  background: #222;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all ease .5s;
}

#nav_links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    float: right;
    padding-top: .4rem;
    background-color: #222;
    width: 80%;
    height: 60px;
    /* margin-top: .54rem; */
}

.nav-links {
  margin: 0 auto;

}

.nav-links-cell {
  display: grid;
  /* grid-template-rows: 1fr .1fr; */
  grid-gap: 2rem;
  /* background-color: blue; */
  min-width: 120px;
  float: right;
}

.nav-links-cell > div {
  /* background-color: red; */
  max-width: 100px;
  margin-right: 20px;
  min-width: 50px;

}

.nav-text {

  text-align: center;
  font-size: 1.6rem;
}

.nav-container {
  margin: auto;
  padding-left: 22%;
}

#innerNav {
	/* background-color: red; */
	float: right;
  color: white;
  font-weight: 700;
  font-size: max(.5em, 3px)
  margin: auto;
	margin-top: 1%;
  margin-left: 5%;
  padding-top: 0%;
  text-align:center;
  width: 60%;
  margin-right: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .8rem;
}

a:visited {
	color: #ddd;
}

#innerNav > div {

  background: #222;
  padding: .2rem;
  width: 77%;
}

#logo {
  color: #fff;
  padding: .46rem;
  width: 4.1rem;
  transition: all ease .5s;
  float: left;
}

#logo:hover {
	filter:brightness(1.1);
	transform: scale(1.1);
}

#navbar_logo {
  padding-left: 20px;
}

#content {
  min-height: 500px;
  width: 87%;
  margin: auto;
  margin-top: 10rem;
  padding-top: 90px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 18rem;
}

#outer-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  width: auto;
  height: auto;

}

#outer-grid > div {

  border-color: #bbb;
  color: black;
  font-size: 1.8;
  padding: 4%;
  width: inherit;
  height: inherit;
}

.imageThumbs {
  width: 99%;
  border-width: .45rem;
  border-color: #bbb;
  border-style: solid;
  filter: blur(0px);
  backface-visibility: hidden;
  opacity: .4
}

.imageThumbs:hover {
  transform: scale(1);
  filter: blur(0);
  transition: all .4s;
  opacity: .7
}

.footerThumbs {
  width: 99%;
  border-width: .45rem;
  border-style: solid;
}

.container:hover {
  filter: brightness(110%);
  transition: ease-in-out .2s;
  background-color:#bbb;
  width: 110%;
}

.container {
    position: relative;
    width: 50%;
    opacity: .8;
}


.middle {
  width: 70%;
  display: block;
	/* height: 50%; */
  transition: .3s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition-delay:.37s;
  backface-visibility: hidden;
}

.header {
  margin-bottom: 1rem;
  background-color: #008c1c;
  /* color: rgb(31, 48, 14); */
  color: white;
  font-size: 2.4vw;
  padding-top: .3rem;
  padding-bottom: .48rem;
  border-radius: 2px;
  transform: translateY(-1%);
  opacity: .8;
}

#cosmet_header, #sharpwave_header, #cs230_header, #biopodz_header, #hitik_header, #thesis_header, #watch_header, #epee_header, #pen_header, #msi_header, #archviz_header, #idrink_header {
  font-size: 1.7vw;
}

#biopodz_header, #hitik_header, #thesis_header, #watch_header, #epee_header, #pen_header, #msi_header, #idrink_header {
  background-color: #0800a4;
}

#archviz_header {
  background-color: #ff2f00;

}


.text {
  background-color: #ffffff88;
  color: rgb(31, 48, 14);
  font-weight: 300;
  font-size: 2.2vw;
  margin-top: 2rem;
  padding: 6% 3%;
	transform: translate(0%, 0%);
  cursor: pointer;
  border-radius: .3rem;
  backface-visibility: hidden;

}


.text:hover {
  background-color: #ffffffbb;
  color: rgb(51, 65, 36);
}


.desc {
  font-style: italic;
  text-align: center;
  animation-delay: .4s;
  color: rgb(26, 35, 17);
  background-color: #ffffff55;
  padding: 1rem;

}

#cosmet_text, #sharpwave_text, #cs230_text, #biopodz_text, #hitik_text, #thesis_text, #watch_text, #epee_text, #pen_text, #msi_text, #archviz_text, #idrink_text {
 font-size: 1.6vw;
}

#cosmet_desc, #sharpwave_desc, #cs230_desc, #biopodz_desc, #hitik_desc, #thesis_desc, #watch_desc, #epee_desc, #pen_desc, #msi_desc, #archviz_desc, #idrink_desc {
  font-size: 1.6vw;
  font-weight: 600;
}


#watchDetails, #biopodzDetails, #epeeDetails, #penDetails, #cosmetDetails, #sharpwaveDetails, #hitikDetails, #archDetails, #iDrinkDetails, #CS230Details, #AboutMeDetails {
  position: fixed;
  margin: auto;
  margin-left: 1%;
  margin-right: 5%;
  min-width: 88%;
  height: 70%;
  min-height: 70%;
  max-height: 70%
  margin-bottom: 300px;
  margin-top: -44px;
	/* bottom: -2300px; */
  background-color: #ddd;
  display: none;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: auto;
animation: showNav 1s ease-in-out both;
}

#MSIDetails, #hobbiesDetails {
position: fixed;
margin: auto;
margin-left: 1%;
margin-right: 5%;
min-width: 88%;
height: 81%;
margin-bottom: 20%;
margin-top: 0;
background-color: #ddd;
display: none;
z-index: 2;
overflow-y: scroll;
overflow-x: auto;
animation: showNav 1s ease-in-out both;
}

#thesisDetails {
  position: fixed;
  margin: auto;
  margin-left: 1%;
  margin-right: 5%;
  min-width: 1020px;
	max-width: 760px;
  height: 78%;
  min-height: 78%;
  max-height: 78%
  margin-bottom: 20%;
  margin-top: 0;
  background-color: #ddd;
  display: none;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: auto;
animation: showNav 1s ease-in-out both;
}

#overlay {
  margin: auto;
  position: absolute;
  min-width: 100%;
  min-height: 555vh;
  background-color: #aaaaaadd;
  display: none;
  z-index: 1;
  cursor: pointer;
}

.large_images {
  margin: auto;
  grid-template-columns: 10fr 1fr;
  width: 98%;
	max-width: 99%;
  /* float: left; */
  margin: 1%;
  overflow-y: hidden;
  overflow-y: auto;
}

.pages {
  margin: auto;
  grid-template-columns: 10fr 1fr;
  max-width: 700px;
  padding-left: 7%;
  overflow-y: hidden;
  overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
    width: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5.6rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #538b5eff;
    border-radius: 5.6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #79af84ff;
		max-width: 100%;
}

#footer {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
}

#footer-outer-grid {
	height: 0;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 60px;
}
#footer-outer-grid > div {
  background-color: #222;

}

#footer-inner-grid {
  display: grid;
  grid-template-columns: 2fr .6fr .1fr;
}

#footer-inner-grid > div {

}

#footer-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
#footer-icons > div {
	/* background-color: blue; */


  padding: 1%;
}

/* #cv:visited {
  color: #222;
}

a:visited {
  color: #222;
}

.nav-text:visited {
  color: #222
} */

#icons {
	width: 70%;
	min-height: 50px;
	min-width: 50px;
	border-color: #ffffff00;
	transform: translate(-50%, 0%);
	padding-bottom:20%;
	margin-top: 10%;
}

#icons:hover {
	width: 118%;
	overlay: #ffffff66;
	padding-bottom:0%;
  transition: all ease .25s;
}

@keyframes showNav {
  from {opacity: 0;}
  to {opacity: 1;}
}


.close-button {
	float:right;
	/* background-color: red; */
	@size: 50px;
	height: @size;
  width: @size;
  position: relative;
	box-sizing: border-box;
	line-height: @size;
	display: inline-block;

	&:before, &:after {
		@width: 50px;
		@height: 10px;
		transform: rotate(-45deg);
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -@height/2;
		margin-left: -@width/2;
		display: block;
		height: @height;
		width: @width;
		background-color: #fff;
		transition: all 0.2s ease-out;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:hover {

		&:before, &:after {
			transform: rotate(0deg);
		}
	}
}

#sharwaveCenter {
	margin: auto;
	margin-left: 30vw;
	margin-top: 2%;
	margin-bottom: 2%;
}

#sharwavePlayer {
	max-width: 296px;
	/* padding-left: 10%;
	margin: auto; */
	/* transform: translate(150%, 0); */
}

/* The Close Button */
.close {
  color: #538b5eff;
	float: right;
  font-size: 2.3rem;
  font-weight: bold;
	transform: translate(-45%, -12%);
	z-index: 3;
	height:27px;
	filter:grayscale(80%);
}

.close:hover,
.close:focus {
  color: #79af84ff;
	x;
  text-decoration: none;
  cursor: pointer;
	filter:grayscale(50%);
}

#boots {
	max-width: 98%
}

#canopy, #bespoke, #brand, #ssbrand {
	max-width: 46.28%;
}
#canopy {
		transform: translate(0%, -13.25%);
}
#brand {
	transform: translate(0%, -20%);
}
#ssbrand {
	transform: translate(0%, -144.8%);
}

#navIcon1, #navIcon2, #navIcon3, #navIcon4, #navIcon5 {
  margin: auto;
  margin-top: 6px;
  width: 45px;
  filter:grayscale(90%);
  margin-left: 7px;
  
}

#navIcon1:hover, #navIcon2:hover, #navIcon3:hover, #navIcon4:hover, #navIcon5:hover {
	filter: brightness(114%);
	filter:grayscale(50%);
	transform: scale(1.15);
transition: all .2s ease-in-out;
}

#thesisGrid {
	display: grid;
  grid-template-columns: 2fr 7fr 1fr;
	/* grid-gap: 12px; */
	background-color: #ffffff;
	border-radius: 2px;
	border-color: orange;
}

#thesisGrid > div {
   background-color: #efefef;
	 padding: 1%;
	 margin-top: 20px;
}

#menu {
	position:static;
	font-size: 1.5rem;
	text-align: center;
	line-height: 3.7rem;
	top: 140px;
	left: 9.6rem;
	height: auto;
	margin-left: 4%;
	margin-right: 4%;
	padding-left: 30px;
	padding: 12rem;
	min-width: 220px;
}

#menu2 {
	background-color: white;
	position:fixed;
	font-weight: 400;
	color: #444;
	margin: auto;
	margin-top: 12px;
	width: inherit;
	margin-left: 16px;
	padding: 20px;
	padding-top: 9px;
	border-radius: 13px;

}

#thesisPages {
	margin: auto;
	/* margin-left: 16.3rem;
	margin-right: 22%; */
}

#cover, #abstract, #acknowledgement, #listOfFigures, #introduction, #chapterOne, #chapterTwo, #chapterThree, #conclusion, #listOfFigures, #navIcon3, #navIcon2 {
  cursor: pointer;
}

#cover:hover, #abstract:hover, #acknowledgement:hover, #listOfFigures:hover, #introduction:hover, #chapterOne:hover, #chapterTwo:hover, #chapterThree:hover, #conclusion:hover, #listOfFigures:hover {
	filter: brightness(144%);
	transform: scale(1.15);
	transition: all .2s ease-in-out;
}

#environment, #environment2, #sculpting, #painting, #photography, #lifeDrawing {
	width: 45%;
}

#environment {
	transform: translate(0, 1.6%);
}

#sculpting {
	transform: translate(0, 12px);
}

#painting {
	transform: translate(0, -10.5%);
}

#lifeDrawing {
	transform: translate(0, -134%);
}

#CS230Player {
	width: 98%;
	/* max-width: 600px; */
}

#PHPCRUD {
	max-width: 944px;
}

#aboutMeText {
	background-color: white;
	border-radius: 9px;
	color: #333;
	text-align: justify;
	font-size: 1.5em;
	padding: 3%;
	margin-top: 1.9%;
}

#mask {
	width: 120%;
}


/* Media Queries */

@media screen and (max-width: 920px) {

  #outer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    display: inline;
  }

  #footer-outer-grid {
    min-height: 100px;

  }

  #icons {
    width: 110%;
    padding-left: 4px; 
  }

  #icons:hover {
    width: 120%;
    padding-left: 2px;
  }

  #footer-icons {

  }

  #footer-inner-grid {
    display: grid;
    grid-template-columns: .3fr 3fr .001fr;
  }

  .nav-links-cell {
    /* background-color: blue; */
    
    width: 30%;
  }

  .nav-container {
    /* background-color: orange; */
    width: 120%;
  }
  .nav-text {
    font-size: 1.83rem;
  }

  #navIcon1, #navIcon2, #navIcon3, #navIcon4, #navIcon5 {
    transform: scale(1.3);
    margin-bottom: 12px;
    padding-right: 6px;
  }

  #navIcon1:hover, #navIcon2:hover, #navIcon3:hover, #navIcon4:hover, #navIcon5:hover {
    transform: scale(1.56);
  }

  #Logo {
    width: 500%;
  }

  .close {

    font-size: 4rem;
  }

  #sharwavePlayer {
    margin-top: 3rem;
  }

  #cosmetVideo, #CS230Player {
    margin-top: 1rem;
  }

  /* #penDetails, #CS230Details, #cosmetDetails, #sharpwaveDetails, #biopodzDetails, #hitikDetails, #thesisDetails, #watchDetails, #epeeDetails, #penDetails, #MSIDetails, #archDetails, #iDrinkDetails { */
    /* transform: translateY(-60px); */
    /* margin-top: -160px; */
    /* margin-bottom: 20px; */
  /* } */


  /* @media (min-width: 2000px) {

    #outer-grid {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1.25rem;
      width: auto;
      height: auto;
    }
  } */

  /* Portrait and Landscape */
/* @media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

} */
  


}